In [3]:
import pandas as pd
import numpy as np

In [4]:
#Import flat file data
covidData = pd.read_excel("Cases_by_County_and_Date_2020-10-10_704800_7.xlsx")
covidData.head()

,COUNTY,Date,CASE_STATUS,Cases,Deaths,Cases.Cumulative,Deaths.Cumulative,Updated
0,Alcona,2020-03-01,Confirmed,0,0,0,0,2020-10-10 14:21:15.249
1,Alcona,2020-03-02,Confirmed,0,0,0,0,2020-10-10 14:21:15.249
2,Alcona,2020-03-03,Confirmed,0,0,0,0,2020-10-10 14:21:15.249
3,Alcona,2020-03-04,Confirmed,0,0,0,0,2020-10-10 14:21:15.249
4,Alcona,2020-03-05,Confirmed,0,0,0,0,2020-10-10 14:21:15.249

In [5]:
#Data prep step 1 - replace all string fields with lower case versions of their current elements, strip any white space
covidData['COUNTY'] = covidData['COUNTY'].str.strip()
covidData['COUNTY'] = covidData['COUNTY'].str.lower()
covidData['CASE_STATUS'] = covidData['CASE_STATUS'].str.lower()
covidData['CASE_STATUS'] = covidData['CASE_STATUS'].str.strip()
covidData.head()

,COUNTY,Date,CASE_STATUS,Cases,Deaths,Cases.Cumulative,Deaths.Cumulative,Updated
0,alcona,2020-03-01,confirmed,0,0,0,0,2020-10-10 14:21:15.249
1,alcona,2020-03-02,confirmed,0,0,0,0,2020-10-10 14:21:15.249
2,alcona,2020-03-03,confirmed,0,0,0,0,2020-10-10 14:21:15.249
3,alcona,2020-03-04,confirmed,0,0,0,0,2020-10-10 14:21:15.249
4,alcona,2020-03-05,confirmed,0,0,0,0,2020-10-10 14:21:15.249

In [6]:
#Data prep step 2 - Filter for only Wayne county
covidData = covidData[covidData['COUNTY'] == 'wayne']
covidData.head()

,COUNTY,Date,CASE_STATUS,Cases,Deaths,Cases.Cumulative,Deaths.Cumulative,Updated
19264,wayne,2020-03-01,confirmed,4,0,4,0,2020-10-10 14:21:15.249
19265,wayne,2020-03-02,confirmed,3,0,7,0,2020-10-10 14:21:15.249
19266,wayne,2020-03-03,confirmed,0,0,7,0,2020-10-10 14:21:15.249
19267,wayne,2020-03-04,confirmed,2,0,9,0,2020-10-10 14:21:15.249
19268,wayne,2020-03-05,confirmed,4,0,13,0,2020-10-10 14:21:15.249

In [7]:
#Data prep step 3 - Drop fields that are not relevant to the study
covidData = covidData.drop(['Updated'], axis = 1)
covidData.head()

,COUNTY,Date,CASE_STATUS,Cases,Deaths,Cases.Cumulative,Deaths.Cumulative
19264,wayne,2020-03-01,confirmed,4,0,4,0
19265,wayne,2020-03-02,confirmed,3,0,7,0
19266,wayne,2020-03-03,confirmed,0,0,7,0
19267,wayne,2020-03-04,confirmed,2,0,9,0
19268,wayne,2020-03-05,confirmed,4,0,13,0

In [8]:
#Data prep step 4 - Identify any null or missing values and eliminate them if necessary
covidData.shape

(448, 7)

In [9]:
covidData.dropna()
covidData.shape

(448, 7)

In [10]:
#The row count staying the same after dropping all null and NaN values shows that the dataset has no missing or null values

In [21]:
#Data prep step 5 - Remove original index, reset for a new index that is unique to the wayne county data, and adjust headers
covidData = covidData.reset_index().drop(columns=['index'])
covidData.head()

,COUNTY,Date,CASE_STATUS,Cases,Deaths,Cases.Cumulative,Deaths.Cumulative
0,wayne,2020-03-01,confirmed,4,0,4,0
1,wayne,2020-03-02,confirmed,3,0,7,0
2,wayne,2020-03-03,confirmed,0,0,7,0
3,wayne,2020-03-04,confirmed,2,0,9,0
4,wayne,2020-03-05,confirmed,4,0,13,0

In [20]:
covidData.rename(columns={'COUNTY': 'County', 'CASE_STATUS': 'Case_Status', 'Cases.Cumulative': 'Total_Cases', 'Deaths.Cumulative': 'Total_Deaths'})

    County       Date Case_Status  Cases  Deaths  Total_Cases  Total_Deaths
0    wayne 2020-03-01   confirmed      4       0            4             0
1    wayne 2020-03-02   confirmed      3       0            7             0
2    wayne 2020-03-03   confirmed      0       0            7             0
3    wayne 2020-03-04   confirmed      2       0            9             0
4    wayne 2020-03-05   confirmed      4       0           13             0
..     ...        ...         ...    ...     ...          ...           ...
443  wayne 2020-10-06    probable     27       0         1556            50
444  wayne 2020-10-07    probable     24       0         1580            50
445  wayne 2020-10-08    probable     19       0         1599            50
446  wayne 2020-10-09    probable      9       0         1608            50
447  wayne 2020-10-10    probable      0       0         1608            50

[448 rows x 7 columns]